.name-bg-aus {
    background-color: #ece845;
    color: #008942;
}

.name-bg-ind {
    background-color: #174bb0;
    color: #d4e7f2;
}

.name-bg-pak {
    background-color: #3b766c;
    color: #d4e0e3;
}

.name-bg-eng {
    background-color: #213356;
    color: #71c5ee;
}

.name-bg-nzl {
    background-color: #171717;
    color: #eeeeee;
}

.name-bg-rsa {
    background-color: #206f4f;
    color: #f9cd40;
}

.name-bg-srl {
    background-color: #1d295b;
    color: #c57e40;
}

.name-bg-win {
    background-color: #b02044;
    color: #f3ef98;
}

.name-bg-ban {
    background-color: #094733;
    color: #dd424b;
}

.name-bg-zim {
    background-color: #ee433b;
    color: #ffd050;
}

.name-bg-afg {
    background-color: #295398;
    color: #cc1f25;
}

.name-bg-ken {
    background-color: #064b49;
    color: #c30320;
}

.name-bg-ned {
    background-color: #f3692c;
    color: #424775;
}

.name-bg-ire {
    background-color: #6cde39;
    color: #143256;
}

.name-bg-sco {
    background-color: #0d2b48;
    color: #fbfbfb;
}

.name-bg-oma {
    background-color: #e40002;
    color: #066b60;
}

.name-bg-nam {
    background-color: #232d3c;
    color: #5a97d6;
}

.name-bg-usa {
    background-color: #141b2b;
    color: #e7394f;
}

.name-bg-nep {
    background-color: #0e344d;
    color: #ef353a;
}

.name-bg-can {
    background-color: #fa7754;
    color: #070202;
}

.name-bg-hkg {
    background-color: #e94236;
    color: #0d0a0b;
}

.name-bg-uae {
    background-color: #e6507e;
    color: #231e57;
}

.name-bg-ber {
    background-color: #ffc9ed;
    color: #4c71be;
}

.name-bg-png {
    background-color: #473b48;
    color: #ff733a;
}

.name-bg-jer {
    background-color: #f50a00;
    color: #1a2f62;
}
