.logo-aus {
    background-color: #f7f462;
}

.logo-ind {
    background-color: #5c81c7;
}

.logo-pak {
    background-color: #2d8d7d;
}

.logo-eng {
    background-color: #637088;
}

.logo-nzl {
    background-color: #5c5c5c;
}

.logo-rsa {
    background-color: #629a83;
}

.logo-srl {
    background-color: #60698c;
}

.logo-win {
    background-color: #c7627c;
}

.logo-ban {
    background-color: #527e70;
}

.logo-zim {
    background-color: #f37b75;
}

.logo-afg {
    background-color: #6986b6;
}

.logo-ken {
    background-color: #50817f;
}

.logo-ned {
    background-color: #f6a079;
}

.logo-ire {
    background-color: #98e774;
}

.logo-sco {
    background-color: #556a7e;
}

.logo-oma {
    background-color: #ec4c4d;
}

.logo-nam {
    background-color: #656c76;
}

.logo-usa {
    background-color: #5a5f6a;
}

.logo-nep {
    background-color: #567082;
}

.logo-can {
    background-color: #fb9f87;
}

.logo-hkg {
    background-color: #ef7a72;
}

.logo-uae {
    background-color: #ed84a4;
}

.logo-ber {
    background-color: #ffd9f2;
}

.logo-png {
    background-color: #7e757e;
}

.logo-jer {
    background-color: #f8534c;
}
