* {
    box-sizing: border-box;
    font-family: Roboto Condensed, Tahoma, Verdana, sans-serif;
    font-size: 0.98em;
}

body {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 98%;
    background-color: black;
}

span {
    padding: 0 2px 0 2px;
}

.board {
    display: flex;
    position: relative;
    width: 98vw;
    height: 98vh;
    padding: 0 0 15% 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/game-background-4x3.png');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.scoreboard {
    display: inherit;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 15% 5% 0 5%;
    flex-direction: row;
    flex: 20%;
    gap: 17rem;
    justify-content: center;
    align-items: center;
}

.score-ticker {
    display: inherit;
    height: 4rem;
    min-width: 5rem;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    background-color: mintcream;
    color: black;
    border: black 5px double;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 1px inset,
    rgba(255, 255, 255, 0.5) 3px 3px 5px inset,
    rgba(70, 70, 70, 0.12) -3px -3px 5px inset,
    rgba(245, 245, 245, 1) 0 0 25px inset;
}

.table {
    display: inherit;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0 5% 5% 5%;
    flex: 80%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.card {
    display: inherit;
    position: relative;
    width: 18.5rem;
    height: 32rem;
    margin: 3% 5%;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border: black 2px groove;
    border-radius: 1.3rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0 10px 30px 5px;
    z-index: 3;
}

.card::before,
.card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 1px inset,
    rgba(255, 255, 255, 0.5) 3px 3px 5px inset,
    rgba(70, 70, 70, 0.12) -3px -3px 5px inset,
    rgba(245, 245, 245, 1) 0 0 25px inset;
}

.card:hover .shine {
    animation: shineAnimation 0.7s cubic-bezier(0, 0.3, 0.58, 1) 0.13s forwards;
}

.card:hover::before,
.card:hover::after {
    pointer-events: none;
}

.card::after .shine {
    animation: none;
}

.shine {
    position: absolute;
    width: 10%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: translate(-270px) skewX(-25deg);
}

@keyframes shineAnimation {
    0% {
        transform: translateX(-270px) skewX(-25deg);
    }
    100% {
        transform: translateX(270px) skewX(-25deg);
    }
}

.pic-container,
.name-country,
.stat-table {
    width: inherit;
    border: #333333 1px ridge;
    overflow: hidden;
}

.pic-container {
    display: grid;
    height: 17.5rem;
    grid-template-columns: repeat(2, 8.75rem);
    grid-template-rows: repeat(2, 8.75rem);
    gap: 10px;
}

.logo,
.profile-pic {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.logo > img,
.profile-pic > img {
    max-width: 100%;
    max-height: 100%;
}

.logo > img {
    scale: 125%;
    translate: 14% 42%;
    z-index: 4;
}

.profile-pic > img {
    scale: 235%;
    translate: -5% -45%;
    z-index: 5;
}

.name-country {
    display: inherit;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.03em;
    word-spacing: 0.1em;
    line-height: 1.6em;
}

.fi-wi {
    background-image: url("../svg/flag-wi.svg");
    background-size: cover;
}

.name-country > div {
    font-size: medium;
}

.stat-table {
    display: flex;
    height: 11rem;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.02em;
    background-color: snow;
}

.column {
    padding: 5px;
    flex: 50%;
    overflow: hidden;
    border-left: black 1px ridge;
    border-right: black 1px ridge;
}

table {
    width: 100%;
    border: lightsteelblue 1px solid;
    border-spacing: 0;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: gainsboro;
}

tr:hover {
    background-color: dimgrey;
    color: floralwhite;
}

td {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 1.02em;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

input[type="submit"] {
    border: #e7e7e7 1px solid;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px,
    rgba(0, 0, 0, 0.24) 0 1px 2px;
    background-color: mintcream;
    cursor: pointer;
}

input[type="submit"]:disabled {
    background-color: #d2d2d2;
    color: #191919;
    cursor: not-allowed;
}

@keyframes blink {
    0% {
        background-color: transparent;
    }
    25% {
        background-color: #e0e0e0;
    }
    50% {
        background-color: #a3a3a3;
    }
    75% {
        background-color: #e0e0e0;
    }
    100% {
        background-color: transparent;
    }
}

.initial-row {
    animation: none;
}

.blinking-row {
    animation: blink 0.7s infinite;
}

.static-row {
    outline: none;
}

.pressed-row {
    outline: #080808 3px inset;
}

.card-back {
    width: 290px;
    height: 500px;
    overflow: hidden;
    background-image: url('../images/card-back.png');
    background-position: center;
    background-size: 108%;
    background-repeat: no-repeat;
    background-color: maroon;
    background-blend-mode: overlay;
}

.no-visibility {
    width: 0;
    height: 0;
    visibility: collapse;
    display: none;
}

@media screen and (min-device-width: 320px) and (max-device-width: 459px) and (orientation: portrait) {
    .board {
        padding: 0 0 80% 0;
    }

    .scoreboard {
        padding: 80% 5% 0 5%;
    }
}

@media screen and (min-device-width: 460px) and (max-device-width: 1000px) and (orientation: portrait) {
    .board {
        padding: 0 0 30% 0;
    }

    .scoreboard {
        padding: 35% 5% 0 5%;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 1000px) and (orientation: landscape) {
    .card {
        scale: 65%;
        transform: translateY(-35%);
    }

    .scoreboard {
        padding: 15% 5% 0 5%;
    }
}
