<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cricket Trumps X</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap"
          rel="stylesheet"
          type="text/css"/>
    <link href="/css/homepage.css" rel="stylesheet" type="text/css"/>
    <link href="/svg/favicon.svg" rel="icon" type="image/svg+xml"/>
</head>
<body>
<div class="board">
    <form id="one-player-game" method="get" action="/singlePlayerGame">
        <button class="button" id="single-player">New Game - 1 Player</button>
    </form>
    <form id="two-player-game" method="get" action="/newGame">
        <button class="button" id="multiplayer">New Game - 2 Player</button>
    </form>
    <form id="connectForm" method="post" action="/connect">
        <label for="token"><input class="input" id="token" name="token" type="text" autocomplete="off"></label>
        <button type="submit" class="button" id="connect">Connect</button>
    </form>
    <p id="connectError"></p>
</div>
<script type="text/javascript" src="/js/homepage.js"></script>
</body>
</html>