<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cricket Trumps X</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap"
          rel="stylesheet"
          type="text/css"/>
    <link href="/css/playerwait.css" rel="stylesheet" type="text/css"/>
    <link href="/svg/favicon.svg" rel="icon" type="image/svg+xml"/>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
</head>
<body>
<div class="board">
    <div class="table">
        <div class="card" id="user-card">
            <div class="shine"></div>
            <div class="card-back" id="card-back"></div>
        </div>
        <div class="token">
            <p>
                Your session code<br>
                <strong><span data-th-text="${gameToken}"/></strong><br>
            </p>
            <form action="/new-game" id="connectForm" method="post">
                <input class="input" name="token" type="hidden" data-th-value="${gameToken}">
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/playerwait-socket.js"></script>
<script type="text/javascript" data-th-inline="javascript">
    let gameToken = /*[[${gameToken}]]*/ "";
</script>
</body>
</html>
